{% extends "_base_template.html" %} {% block sections %}
<style>
  p,
  td {
    font-size: 0.85em !important;
  }
</style>

<section>
<section id="home" data-markdown style="font-size: 12pt">
<textarea data-template>
# M347 - Dienste mit Containern<br><small>Jahresplan 2025/2026 - IN25-29c</small>

**LBV 342-2**: 80% LBV: 2 handlungsorientierte LBs, à je 50%, 20% Projektdoku Mini-Projekt<br>
(<https://www.modulbaukasten.ch/module/347/1/de-DE?title=Dienst-mit-Container-anwenden&lbv=2>)

| Lekt. | Datum       | Thema | Detail                                            |
|-------|-------------|--------------|--------------------------------------------|
|<td colspan="3"><strong>Sportferien 26.02. - 01.02.2026</strong> |
| [ 001 ](001_start/unterricht.html)               | 05.02.2026  | Einführung | Jahresplan, Docker-Setup/Test, PlantUML |
| [ 002 ](002_linux/unterricht.html)               | 12.02.2026  | Linux      | Schnellbleiche Linux-Konsole, Dateisystem, wichtige Kommandos |
| [ 003 ](003_netzwerk/unterricht.html)            | 19.02.2026  | Netzwerk   | Schnellbleiche TCP/IP-Networking |
| [ 004 ](004_grundlagen_container/unterricht.html)| 26.02.2026  | Container-Grundlagen | Was sind Container? Architektur, Docker, erste Images von Dockerhub nutzen |
| [ 005 ](005_docker_networks/unterricht.html)     | 05.03.2026  | Netzwerke      | Container-Netzwerke kennen, konfigurieren, anwenden |
| [ 006 ](006_volumes/unterricht.html)             | 12.03.2026  | Volumes        | Bound Volumes, managed volumes, Persistenz |
| [ 007 ](007_volumes2/unterricht.html)            | 19.03.2026  | Volumes        | Bound volumes für Entwicklung, Zugriff/Backup auf managed volumes |
| [ 008 ](008_dockerfiles/unterricht.html)         | 26.03.2026  | Images         | eigene Images mit Dockerfiles erstellen |
| [ 009 ](009_dockerfiles2/unterricht.html)        | 02.04.2026  | Images         | Übungen zu Dockerfiles, Container |
|<td colspan="3"><strong>🌼 Frühlingsferien 03.04.2026 - 19.04.2026 🌼</strong></td>|
| [ 010 ](010_lb1/index.html)                      | **23.04.2026**  | **LB 1** |**praktische Prüfung 50%** |
| [ 011 ](011_docker_compose/unterricht.html)      | 30.04.2026      | Docker Compose         | Einführung, compose-yaml |
| [ 012 ](011_docker_compose/unterricht.html)      | 07.05.2026      | Docker Compose         | Mini-Projekt |
|<td colspan="3"><strong>😎 Pfingstferien 14.05.2026 - 25.06.2025 👒</strong></td>|
| [ 013 ](011_docker_compose/unterricht.html)      | 28.05.2026      | Docker Compose         | Mini-Projekt |
| [ 014 ](014_testing/unterricht.html)             | 04.06.2026      | Testing, Qualitätssicherung         | Mini-Projekt vorstellen, Qualitätssicherung |
| [ 015 ](015_testing/unterricht.html)             | 11.06.2026      | Testing, Qualitätssicherung         | Testing, Dokumentation |
| [ 016 ](016_lb2/index.html)                      | **18.06.2026**  | **LB 2** |**praktische Prüfung 50%** |
| [ 017 ](017_bonus1/unterricht.html)              | 25.06.2026      | Bonusthema         | noch offen |
| [ 018 ](018_bonus2/unterricht.html)              | 02.07.2026      | Bonusthema         | noch offen |
|<td colspan="3"><strong>🏝️ Sommerferien 04.07. - 09.08.2026 🌊</strong></td>|
</textarea>
</section>
</section>

{% endblock %}
