{% extends "_base_template.html" %} {% block sections %}
<style>
  p,
  td {
    font-size: 0.85em !important;
  }
</style>

<section>
<section id="home" data-markdown style="font-size: 10pt">
<textarea data-template>
# M347 - Dienste mit Containern | Jahresplan 2024 - IN22-26c

**LBV**: 1. Wissensprüfung (40%), 2. Projektarbeit (60%)

| Lekt. | Datum       | Thema | Detail                                            |
|-------|-------------|--------------|--------------------------------------------|
|<td colspan="3"><strong>Sportferien 27.01. - 04.02.2024</strong> |
| [ 001 ](001_start/unterricht.html)               | 05.02.2024  | Einführung | Jahresplan, Verteilung Classroom / Docker-Setup, Abgabe Projektaufgabe |
| [ 002 ](002_linux/unterricht.html)               | 12.02.2024  | Linux | Schnellbleiche Linux-Konsole, Dateisystem, wichtige Kommandos |
| [ 003 ](003_grundlagen_container/unterricht.html)| 19.02.2024  | Container-Grundlagen | Was sind Container? Architektur, Docker, erste Images von Dockerhub nutzen |
| [ 004 ](004_images/unterricht.html)              | 26.02.2024  | Container-Grundlagen | Images mit Dockerfiles selber bauen (am Beispiel mkdoks) |
| [ 005 ](005_dev_build/unterricht.html)           | 04.03.2024  | Microservice, Container für Entwicklung| vom Monolith zu Micro-Services, Docker für die Entwicklung, Networking |
| [ 006 ](006_form_backend/unterricht.html)        | 11.03.2024  | mehrere Dienste, Ports | Form-Versand-Applikation, Port-Weiterleitung für Container, Networking |
| [ 007 ](007_db_backend/unterricht.html)          | 18.03.2024  | Docker Volumes &amp; Networks, Micro-API | Anbindung einer Datenbank, Aufbau API für Daten-Einträge |
| [ 008 ](007_db_backend/unterricht.html)          | 25.03.2024  | Docker Volumes &amp; Networks, Micro-API | Anbindung einer Datenbank, Aufbau API für Daten-Einträge (Teil 2) |
|<td colspan="3"><strong>Frühlingsferien 29.03.2024 - 14.04.2024</strong></td>|
| [ 009 ](009_orchestrierung/unterricht.html)      | 15.04.2024  | Dienst-Orchestrierung | docker compose, Orchestrierung der einzelnen Services, `.env`-Konfiguration |
| [ 010 ](009_orchestrierung/unterricht.html)      | 22.04.2024  | Dienst-Orchestrierung | docker compose, Orchestrierung der einzelnen Services, `.env`-Konfiguration (Teil 2) |
| [ 011 ](011_prod_build/unterricht.html)          | 29.04.2024  | Produktions-Images | Applikation für Produktion in Container packen, Multi-Stage-Builds |
| [ 012 ](012_lb1_pruefung.html)                   | **06.05.2024**  | **LB 1 - Wissensprüfung** |  |
|<td colspan="3"><strong>Pfingstferien 09.05.2024 - 20.05.2024</strong></td>|
| [ 013 ](013/projektarbeit.html)                  | 27.05.2024  | Projektarbeit (LB 2) | Micro-Service-App mit Kommentar-Funktion selber (aus)bauen |
| [ 014 ](014/projektarbeit.html)                  | 03.06.2024  | Projektarbeit (LB 2) | Micro-Service-App mit Kommentar-Funktion selber (aus)bauen |
| [ 015 ](014/projektarbeit.html)                  | 10.06.2024  | Projektarbeit (LB 2) | Micro-Service-App mit Kommentar-Funktion selber (aus)bauen |
| [ 016 ](014/projektarbeit.html)                  | 17.07.2024  | Projektarbeit (LB 2) | Micro-Service-App mit Kommentar-Funktion selber (aus)bauen |
| [ 017 ](017_security/unterricht.html)            | 24.06.2024  | Sicherheitsaspekte |  Umgang mit Konfigurationsdaten, non-root-Container |
| [ 018 ](018_management/unterricht.html)          | 01.07.2024  | Management-Tools, Ausblick | Portainer, Übersicht Cloud-Infrastruktur  mit Kubernetes |
|<td colspan="3"><strong>Sommerferien 06.07. - 11.08.2024</strong></td>|

</textarea>
</section>
</section>

{% endblock %}