{% extends "../_base_template.html" %}
{% block title %}Lektion 14 - QS, Testing, Dokumentation{% endblock %}

{% block sections %}
<section data-markdown>
<textarea data-template>
# <i class="fas fa-graduation-cap"></i> M347 - QS, Testing, Dokumentation

## Heutiges Ziel


</textarea>
</section>


<!-- ----------------------------------------------------------------------------- -->
<section data-markdown>
<textarea data-template>
# <i class="fas fa-graduation-cap"></i> xxxxx



</textarea>
</section>

{% endblock %}
